.header {
  display: flex;
  justify-content: space-between;
  background-color: #1f1f1f;
  align-items: center;
  padding: 10px;
  color: #fff;
  /* position: fixed;  */
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}

.producer_inf {
  display: flex;
  flex-direction: row;
  margin-right: auto;
}

.producer_inf h3 {
  color: #fff;
  text-decoration: none;
  margin: 15px 10px;
}

.producer_inf h3 a {
  color: #fff;
  text-decoration: none;
}

.producer_inf p {
  color: #fff;
  text-decoration: none;
  align-items: center;
  margin: 15px 10px;
}

.logout-btn {
  background-color: #fff;
  color: #333;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  margin-right: 30px;
}


.ratting_serch {
  text-align: center;
  margin-bottom: 20px;
}

.rating_number {
  font-size: 16px;
  font-weight: bold;
}

h1 {
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.rating_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rating_value {
  font-size: 48px;
  font-weight: bold;
  margin-right: 10px;
}

.rating_image img {
  width: 100px;
}

.game_averages {
  margin-top: 10px;
}

.game_title {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  font-weight: bold;
}

.game_value {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
}

.rating_01GAME_text,
.rating_CRICKET_text,
.rating_COUNT-UP_text {
  flex-basis: 33.33%;
}

.rating_01GAME_value,
.rating_CRICKET_value,
.rating_COUNT-UP_value {
  flex-basis: 33.33%;
  text-align: right;
}



.ratting_serch {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
}

.ratting_serch label {
  display: block;
  margin-bottom: 10px;
}

.ratting_serch input[type="email"],
.ratting_serch input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 3px;
  margin-bottom: 15px;
}

.ratting_serch button[type="submit"] {
  background-color: #0070f3;
  color: #ffffff;
  padding: 10px 15px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.ratting_serch h1 {
  margin-bottom: 5px;
}

.rating_container {
  text-align: center;
}

.game_averages {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game_title,
.game_value {
  display: flex;
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
}

.game_title>span {
  margin: 0 20px;
}

.game_value>span {
  margin: 0 40px;
}

.rating_01GAME_text {
  color: #ff0000;
}

.rating_CRICKET_text {
  color: #0044ff;
}

.rating_COUNT-UP_text {
  color: #00a917;
}

.rating_image img {
  width: 100px;
  height: auto;
}


footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;

}

.footer-content {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links {
  display: flex;
  justify-content: center;
}

.links a {
  color: #fff;
  margin: 0 10px;
}

.links a:hover {
  text-decoration: underline;
}

.is_account {
  display: flex;
  justify-content: center;
}

.table-container {
  width: 100%;
  display: flex;
  justify-content: center;
}


.rating-table caption {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

table {
  border-collapse: collapse;
  margin: 20px;
  width: 400px;
  background-color: #fff;
  border-radius: 15px;
}

th,
td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
  color: #333;
}

.about-rate {
  background-color: #DDDDDD;
  text-align: center;
  padding: 10px;
  margin-top: 5px;


}

.about-rate h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.about-rate p {
  font-size: 18px;
  margin-bottom: 40px;
}





.data_confirmation {
  background-color: #DDDDDD;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px;
}

.data_confirmation h2 {
  text-align: center;
  font-size: 20px;
  margin-bottom: 0px;
}

.button_container {
  display: flex;
  justify-content: center;

}

.button_container button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #ccc;
  color: #fff;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
  cursor: pointer;
}

.button_container button.olgame {
  background-color: red;
  /* 01GAMEボタンの背景色 */
  color: white;
  /* 01GAMEボタンのテキスト色 */
}

.button_container button.cricket {
  background-color: #0044FF;
  color: white;
  /* CRICKETボタンのテキスト色 */
}

.button_container button.count-up {
  background-color: #00A917;
  /* COUNT-UPボタンの背景色 */
  color: white;
  /* COUNT-UPボタンのテキスト色 */
}



/* 全体のセクション */
.search-form-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

}

/* セクションのタイトル */
.search-form-section-title {

  font-size: 24px;
  font-weight: bold;
}

/* フォームコンテナ */
.search-form-container {
  display: flex;
  justify-content: center;
}

/* 検索フォーム */
.search-form {
  width: 300px;
}

/* フォームグループ */
.search-form-group {
  margin-bottom: 10px;
}

/* ラベル */
.search-form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

/* 入力フィールド */
.search-form-control {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* 送信ボタン */
.search-submit-button {
  background-color: #0044FF;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.data_confirmation p {
  font-size: 1.2rem;
  text-align: center;
  max-width: 600px;
}